.App {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Button {
  width: 100px;
  margin-right: 23px;
}

.Counter {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.Blue {
    height: 50px;
    width: 50px;
    background-color: blue;
}

.Red {
  height: 50px;
  width: 50px;
  background-color: red;
}

.Green {
  height: 10px;
  width: 10px;
  background-color: green;
}

.Empty {
  height: 10px;
  width: 10px;
  background-color: lightgrey;
}